discord.py
wheel
-e git+https://github.com/HarkonenBade/humanize.git#egg=humanize
Pillow
requests
pynacl
youtube_dl
pony
psycopg2
-e git+https://github.com/HarkonenBade/agithub.git#egg=agithub
pytumblr
-e git+https://github.com/HarkonenBade/ao3.git@locale-int#egg=ao3
html2text
GuildWars2-API-Client
dateparser
